body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hoverUnderline:hover {
  text-decoration: underline;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tile{
  border-style: solid;
  width: 250px;
  margin: 20px;
}

img.profilePic{
  width: 75%;
}

h3#studentPosition{
  background-color: blue;
  margin-top: 0px;
}

h3#tutorPosition{
  background-color: green;
  margin-top: 0px;
}